h1 {
    color: antiquewhite;
}

img {
    width: 400px;
}

#spanId {
    margin: 50px;
    font-size: 18px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    color: aliceblue;
    padding: 50px;
    background-color: beige;
    border: 10px solid black;



}